@import '../fonts/font.css';

$red: #c98474;
$blue: #a7d2cb;
$yellow: #f2d388;
$text-color: #303952;

/* RESETS */
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  display: block;
  margin-bottom: 1rem;
  position: relative;
  width: auto;

  &::before {
    position: absolute;
    display: block;
    bottom: -0.33rem;
    content: " ";
    height: 6px;
  }

  &.red-line {
    &::before {
      border-bottom: 6px dashed lighten($red, 10%);
      left: 0;
      width: 48%;
    }
  }

  &.green-line {
    &::before {
      border-bottom: 6px dashed lighten($blue, 10%);
      right: 0;
      width: 42%;
    }
  }
}

.red {
  color: $red;
}

.blue {
  color: $blue;
}

.yellow {
  color: $yellow;
}

/* BODY */
body {
  font-family: "CircularStd", sans-serif;
  color: $text-color;

  /* INFO BLOCK */
  .infos {
    user-select: none;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 1rem;
    font-size: 0.9rem;

    p {
      display: flex;
      align-items: center;
      width: 100%;

      &:not(:first-child) {
        margin-top: 0.25rem;
      }

      a {
        cursor: pointer;
      }

      img {
        width: 1.75rem;
        margin-right: 0.5rem;
      }
    }
  }

  /* PAGE */
  page {
    width: 21cm;
    height: auto;
    background: white;
    display: block;
    margin: 0 auto;

    /* RESUME - HEADER */
    .header {
      display: flex;
      width: 21cm;
      align-items: center;
      padding: 1rem;
      position: relative;
      justify-content: space-between;

      img {
        height: 64px;
        width: 64px;
        border-radius: 50%;
        box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
      }

      .receiver {
        text-align: right;
      }
    }
  }

  .content {
    padding: 1rem;

    p {
      &:not(:first-child) {
        margin-top: 1rem;
      }
    }
  }
}

/* Print version hidden content */
@media print {
  body,
  page {
    margin: 0;
    box-shadow: none;
    width: 21cm;
    height: 29.7cm;
  }

  .infos {
    display: none;
  }

  .separator {
    display: none;
  }
}

/* Basic responsiveness for info box */
@media screen and (max-width: 1670px) {
  .infos {
    display: none;
  }
}
